/** Primary: #3f51b5  **/


body {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(121,134,203,0.5);
  -moz-box-shadow: 0px 0px 7px 0px rgba(121,134,203,0.5);
  box-shadow: 0px 0px 7px 0px rgba(121,134,203,0.5);
}

.content {
  display: flex;
}

.content__main {
  width: 100%;
  max-width: 75%;
  padding: 12px;
}

.content__sidebar {
  width: 100%;
  max-width: 25%;
  padding: 12px;
}

.content__subtitle { 
  
}

.bt_underline {
  border-bottom: #3f51b5 1px solid;
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #9fa8da;
  text-align: center;
  padding: 5px;
  margin-right: 8px;
}

.icon__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.icon img {
  max-width: 20px;
  height: auto;
}


.flex__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

